* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-size: 12px;
  font-weight: 800;
  font-family: cursive;
}
body {
  background: #040404;
  font-size: 22px;
  color: rgb(208, 215, 190);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 33rem;
  height: 33rem;
  background: #040404;
  border-radius: 50%;
  position: relative;
  border: 0.5rem double rgb(39, 122, 230);
  box-shadow: 0 -1.2em 1.2em rgba(45, 46, 43, 0.06),
    inset 0 -1.2em 1.2em rgba(39, 36, 36, 0.06),
    0 1.2em 1.2em rgba(6, 6, 6, 0.3), inset 0 1.2em 1.2em rgba(24, 24, 22, 0.3);
}
.number {
  --rotateAngle: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: rotate(var(--rotateAngle));
  font-size: 2rem;
  padding: 0.8rem;
}
.number1 {
  --rotateAngle: 30deg;
}
.number2 {
  --rotateAngle: 60deg;
}
.number3 {
  --rotateAngle: 90deg;
}
.number4 {
  --rotateAngle: 120deg;
}
.number5 {
  --rotateAngle: 150deg;
}
.number6 {
  --rotateAngle: 180deg;
}
.number7 {
  --rotateAngle: 210deg;
}
.number8 {
  --rotateAngle: 240deg;
}
.number9 {
  --rotateAngle: 270deg;
}
.number10 {
  --rotateAngle: 300deg;
}
.number11 {
  --rotateAngle: 330deg;
}

.undo {
  --undoAngle: 0;
  transform: rotate(var(--undoAngle));
}

.number1 .undo {
  --undoAngle: -30deg;
}
.number2 .undo {
  --undoAngle: -60deg;
}
.number3 .undo {
  --undoAngle: -90deg;
}
.number4 .undo {
  --undoAngle: -120deg;
}
.number5 .undo {
  --undoAngle: -150deg;
}
.number6 .undo {
  --undoAngle: -180deg;
}
.number7 .undo {
  --undoAngle: -210deg;
}
.number8 .undo {
  --undoAngle: -240deg;
}
.number9 .undo {
  --undoAngle: -270deg;
}
.number10 .undo {
  --undoAngle: -300deg;
}
.number11 .undo {
  --undoAngle: -330deg;
}

.container .hand {
  background-color: black;
  width: 10px;
  height: 40px;
  position: absolute;
  bottom: 50%;
  left: 50%;
  /*transform: translateX(-50%); translate the object backwards 50% of its width*/
  transform-origin: bottom;
  z-index: 10; /*so that hand always comes on the top of numbers*/
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.container .hour {
  width: 1rem;
  height: 8rem;
  background-color: #ff0000;
}
.container .minute {
  width: 0.5rem;
  height: 11rem;
  background-color: #4ab6e1;
}
.container .second {
  width: 0.2rem;
  height: 12.4rem;
  background-color: #95ea0d;
}
.container::after {
  content: "";
  position: absolute;
  background-color: #fffffd;
  z-index: 11;
  width: 2rem;
  height: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
